﻿@{
    ViewBag.Title = "Home Page";
}

<h2>AsiaPay</h2>
<form name="payFormCcard" method="post" action="https://test.paydollar.com/b2cDemo/eng/payment/payForm.jsp">
    <div class="row form-group">
        <div class="col-lg-4">
            <div class="pull-left">
                Merchant Id :
            </div>
            <input class="pull-right" type="text" name="merchantId" value="12107684" />@*The merchant ID is provided by AsiaPay*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                Amount :
            </div>
            <input type="text" class="pull-right" name="amount" value="3000" />@*The total amount your want to charge the customer for the provided currency*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                OrderRef :
            </div>
            <input type="text" class="pull-right" name="orderRef" value="@DateTime.Now.Ticks.ToString()" />@*Merchant‘s Order Reference Number*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4">
            <div class="pull-left">
                currCode :
            </div>
            <input type="text" class="pull-right" name="currCode" value="702" />@*The currency of the payment*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                MpsMode :
            </div>
            <input type="text" class="pull-right" name="mpsMode" value="NIL" />@*The Multi-Currency Processing Service (MPS) Mode*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                SuccessUrl:
            </div>
            <input type="text" class="pull-right" name="successUrl" value="https://asiapay.azurewebsites.net" />@*A Web page address you want AsiaPay to redirect upon the transaction being accepted by Paypal (For display purpose only.
                DO NOT use this URL to update your system. Please use DataFeed for this purpose.)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4">
            <div class="pull-left">
                FailUrl
            </div>
            <input type="text" class="pull-right" name="failUrl" value="https://asiapay.azurewebsites.net" /> @*//A Web page address you want AsiaPay to redirect upon the transaction being rejected by Paypal.
                (For display purpose only. DO NOT use this URL to update your system. Please use DataFeed for this purpose.)*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                CancelUrl
            </div>
            <input type="text" class="pull-right" name="cancelUrl" value="https://asiapay.azurewebsites.net" /> @*A Web page address you want AsiaPay to redirect upon the transaction being cancelled by your customer
                (For display purpose only. DO NOT use this URL to update your system. Please use DataFeed for this purpose.)*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                PayType:
            </div>
            <input type="text" class="pull-right" name="payType" value="N" /> @*The payment type:”N” – Normal Payment (Sales)”H” – Hold Payment (Authorize only)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4">
            <div class="pull-left">
                Lang :
            </div>
            <input type="text" class="pull-right" name="lang" value="E" /> @*The language of the payment page*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                SecureHash :
            </div>
            <input type="text" class="pull-right" name="secureHash" value="" /> @*secureHash is provided by paydollar. Contact to PM If you dont't have it*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                PayMethod :
            </div>
            <input type="text" class="pull-right" name="payMethod" value="CC" /> @*The payment method*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4">
            <div class="pull-left">
                installment_service :
            </div>
            <input type="text" class="pull-right" name="installment_service" value="T" />  @*Installment service indicator i.e T/F.*@
        </div>
        <div class="col-lg-4">
            <div class="pull-left">
                installment_period :
            </div>
            <input type="text" class="pull-right" name="installment_period" value="6" />  @*In number of months.*@
        </div>
    </div>
    <div class="col-lg-offset-5">
        <input type="submit" value="Pay Now" />
    </div>
</form>

<h2 class="alert-danger">Input secure Hash Secret first</h2>
<div class="col-lg-4">
    Secure Hash Secret Key :<input type="text" class="pull-right" name="secureHashSecret" value="GOk2ORdwy0b4rnyrfiRNVyBHMgT30UX8" /> @*secureHash is provided by paydollar. Contact to PM If you dont't have it*@
</div>
<button class="btn-primary" onclick="GenerateSecureHash()">Generate secureHash</button>
<script>
    function GenerateSecureHash() {
        $.ajax({
            url: '/AsiaPay/GenerateSecureHash',
            type: "POST",
            data: {
                merchantId: $("input[name~='merchantId']").val(),
                orderRef: $("input[name~='orderRef']").val(),
                currCode: $("input[name~='currCode']").val(),
                amount: $("input[name~='amount']").val(),
                payType: $("input[name~='payType']").val(),
                secureHashSecret: $("input[name~='secureHashSecret']").val()
            },
            dataType: "json",
            success: (response) => {
                if (response.success) {
                    $("input[name~='secureHash']").val(response.data);
                } else {
                    alert("Error");
                }
            },
            error: (response) => {
                alert("Something wrong");
            }

        });
    }
</script>