﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
<div name="payFormCcard">
    <input placeholder="merchantId" type="text" id="merchantId" value="12107684" />
    <input placeholder="amount" type="text" id="amount" value="3000" />
    <input placeholder="orderRef" type="text" id="orderRef" value="@DateTime.Now.Ticks.ToString()" />
    <input placeholder="currCode" type="text" id="currCode" value="702" />
    <input placeholder="pMethod" type="text" id="pMethod" value="VISA" />
    <input placeholder="cardNo" type="text" id="cardNo" value="4916474086308295" />
    <input placeholder="securityCode" type="text" id="securityCode" value="123" />
    <input placeholder="cardHolder" type="text" id="cardHolder" value="test test" />
    <input placeholder="epMonth" type="text" id="epMonth" value="07" />
    <input placeholder="epYear" type="text" id="epYear" value="2030" />
    <input placeholder="payType" type="text" id="payType" value="N" />
    <input placeholder="lang" type="text" id="lang" value="E" />
    <input placeholder="secureHashSecret" type="text" id="secureHashSecret" value="GOk2ORdwy0b4rnyrfiRNVyBHMgT30UX8" />
    <input type="text" placeholder="installment_service" id="installment_service" value="T" />
    <input type="text" placeholder="installment_period" id="installment_period" value="6" />
    <input type="button" onclick="PayMethod()" value="Pay Now" />
</div>
<script>
    function PayMethod() {
        $.ajax({
            url: '/AsiaPay/AsiaPayDirectServer',
            type: "POST",
            data: {
                merchantId: $("#merchantId").val(),
                amount: $("#amount").val(),
                orderRef: $("#orderRef").val(),
                currCode: $("#currCode").val(),
                pMethod: $("#pMethod").val(),
                cardNo: $("#cardNo").val(),
                securityCode: $("#securityCode").val(),
                cardHolder: $("#cardHolder").val(),
                epMonth: $("#epMonth").val(),
                epYear: $("#epYear").val(),
                payType: $("#payType").val(),
                lang: $("#lang").val(),
                secureHashSecret: $("#secureHashSecret").val(),
                installment_period: $("#installment_period").val(),
                installment_service: $("#installment_service").val(),
            },
            dataType: "json",
            success: (response) => {
                if (response.success) {
                    var res = JSON.parse(JSON.stringify(response.data));
                    window.location = '/DataFeed?errMsg=' + res.errMsg
                        + '&successcode=' + res.successcode
                        + '&amt=' + res.atm
                        ;
                } else {
                    alert("Message :  " + response.data);
                }
            },
            error: (response) => {
                alert("Something wrong");
            }
        });
    }

</script>



