﻿@{
    ViewBag.Title = "Home Page";
}

<h2>AsiaPay</h2>
<form name="payForm" method="post" action="https://test.paydollar.com/b2cDemo/eng/dPayment/payComp.jsp">
    <input placeholder="merchantId" type="text" name="merchantId" value="12107684" />
    <input placeholder="amount" type="text" name="amount" value="10" />
    <input placeholder="orderRef" type="text" name="orderRef" value="@DateTime.Now.Ticks.ToString()" />
    <input placeholder="currCode" type="text" name="currCode" value="702" />
    <input placeholder="pMethod" type="text" name="pMethod" value="VISA" />
    <input placeholder="cardNo" type="text" name="cardNo" value="4918914107195005" />
    <input placeholder="securityCode" type="text" name="securityCode" value="123" />
    <input placeholder="cardHolder" type="text" name="cardHolder" value="Christopher Christ Tan" />
    <input placeholder="epMonth" type="text" name="epMonth" value="07" />
    <input placeholder="epYear" type="text" name="epYear" value="2020" />
    <input placeholder="payType" type="text" name="payType" value="N" />
    <input placeholder="successUrl" type="text" name="successUrl" value="https://asiapay.azurewebsites.net/DataFeed" />
    <input placeholder="failUrl" type="text" name="failUrl" value="https://asiapay.azurewebsites.net/DataFeed" />
    <input placeholder="errorUrl" type="text" name="errorUrl" value="https://asiapay.azurewebsites.net/DataFeed" />
    <input placeholder="lang" type="text" name="lang" value="E" />
    <input placeholder="secureHash" type="text" name="secureHash" value="" />
    <input type="submit" value="Pay Now" />
</form>

<h2 class="alert-danger">Input secure Hash Secret first</h2>
<div class="col-lg-4">
    Secure Hash Secret Key :<input type="text" class="pull-right" name="secureHashSecret" value="GOk2ORdwy0b4rnyrfiRNVyBHMgT30UX8" /> @*secureHash is provided by paydollar. Contact to PM If you dont't have it*@
</div>
<button class="btn-primary" onclick="GenerateSecureHash()">Generate secureHash</button>

<script>
    function GenerateSecureHash() {
        $.ajax({
            url: '/AsiaPay/GenerateSecureHash',
            type: "POST",
            data: {
                merchantId: $("input[name~='merchantId']").val(),
                orderRef: $("input[name~='orderRef']").val(),
                currCode: $("input[name~='currCode']").val(),
                amount: $("input[name~='amount']").val(),
                payType: $("input[name~='payType']").val(),
                secureHashSecret: $("input[name~='secureHashSecret']").val()
            },
            dataType: "json",
            success: (response) => {
                if (response.success) {
                    $("input[name~='secureHash']").val(response.data);
                } else {
                    alert("Error");
                }
            },
            error: (response) => {
                alert("Something wrong");
            }

        });
    }
</script>